// 하단 플로팅 배너
.v_signalStreng.globalStock .signalpop.event2024_payment {
	.box {
		// background: #fff url('/img/signalpop_sdwbg.png') repeat-x left bottom;
		// background-size: contain;
		background: linear-gradient(180deg, var(--Blue-blue150, #DBE5FF) 0%, #FFF 100%);
	}


	.content {
		max-width: 540px;
		margin: 0 auto;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		padding-top: 30px;

		.info_txt {
			background: none;
			padding-top: 16px;
			padding-bottom: 16px;

			p.txt01 {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				color: #333;
				text-align: center;
				font-family: Pretendard;
				font-size: 24px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			}

			p.txt02 {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				margin-top: 8px;
				color: #6A727B;
				text-align: center;
				font-family: Pretendard;
				font-size: 17px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
			}
		}

		.img_area {
			// max-width: 400px;
			max-width: 290px;
			margin: 0 auto;

			.img_banner {
				display: block;
				width: 100%;
				height: 100%;
			}
		}

		.btn_area {
			padding-bottom: 24px;
			text-align: center;

			.btn {
				display: inline-block;
				margin: 16px auto 0;
				width: calc(100% - 50px);
				padding: 15px 15px;
				box-sizing: border-box;
				border: none;
				border-radius: 8px;
				background-color: #4168F6;
				font-size: 1.125rem;
				line-height: 1.19;
				text-align: center;
				color: #fff;
				font-weight: bold;

				b {
					color: rgba(255, 218, 77, 1);
				}
			}
		}
	}

	.ftr {
		justify-content: center;		
		align-items: center;		
		overflow: hidden;
		border-radius: var(--Radius-r-05, 24px) var(--Radius-r-05, 24px) 0px 0px;		
		height: auto;
		background-color: #fff;
		margin-top: 0;		
		padding: 0;
		

		.btn_day {
			position: relative;
			padding: 13.5px 0;
			flex: 1 1 50%;
			text-align: center;
			color: var(--Font-teriary-body, #6B7684);
			font-family: var(--Body, Pretendard);
			font-size: var(--Size-sm, 14px);
			font-style: normal;
			font-weight: var(--Weight-500, 500);
			line-height: var(--Line-height-lg, 21px); /* 150% */
			letter-spacing: var(--Tracking-md, -0.3px);			
			&::after {
				content: '';
				position: absolute;
				right: -1px;
				top: 16px;
				display: inline-block;
				width: 1px;
				height: 16px;
				background-color: var(--Border-tertiary-border, #DADCE0);			
			}
		}

		.btn_close {
			padding: 13.5px 0;
			flex: 1 1 50%;
			text-align: center;
			color: var(--Font-primary-body, #24282C);			
			font-family: var(--Body, Pretendard);
			font-size: var(--Size-sm, 14px);
			font-style: normal;
			font-weight: var(--Weight-500, 500);
			line-height: var(--Line-height-lg, 21px); /* 150% */
			letter-spacing: var(--Tracking-md, -0.3px);			
		}

		.btn_close::before,
		.btn_close::after {
			display: none;			
		}
	}
}


.v_signalStreng.globalStock .free_2weeks .signalpop.event2024_payment {
	// .content {
	// 	background: #fff url('/img/signalpop_sdwbg.png') repeat-x left bottom;
	// 	background-size: contain;
	// 	border-top-left-radius: 20px;
	// 	border-top-right-radius: 20px;
	// 	padding-top: 30px;
	// }


}

// 2024년 신년이벤트
.v_signalStreng.globalStock .event2024_payment_sub {
	a {
		display: inline-block;
		width: 100%;
		height: 100%;

		img {
			display: inline-block;
			width: 100%;
			height: 100%;
		}
	}

}

// 초스-알림개편-배너
.v_signalStreng.globalStock .alarm_noti_banner {
	background: #161C40;
	padding: 2px 24px;
	box-sizing: border-box;
	.width_box {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 4px 12px;		
		width: 100%;
		height: 68px;
		box-sizing: border-box;		
		max-width: 340px;
		margin: 0 auto;
		.link_banner {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			gap: 2px 2px;
			color: var(--Font-tertiary-caption, #8C98A7);
			font-family: var(--Body, Pretendard);
			font-size: var(--Size-xs-13, 13px);
			font-style: normal;
			font-weight: var(--Weight-400, 400);
			line-height: var(--Line-height-xs-13, 16px); /* 123.077% */
			letter-spacing: var(--Tracking-md, -0.3px);
			b {
				display: block;
				color: #FFF;
				font-family: var(--Body, Pretendard);
				font-size: var(--Size-md-15, 15px);
				font-style: normal;
				font-weight: var(--Weight-600, 600);
				line-height: var(--Line-height-lg, 21px); /* 140% */
				letter-spacing: var(--Tracking-md, -0.3px);
				i {
					color: var(--Yellow-yellow400, #FFDA4D);
					font-family: var(--Body, Pretendard);
					font-size: var(--Size-md-15, 15px);
					font-style: normal;
					font-weight: 600;
					line-height: var(--Line-height-lg, 21px);
					letter-spacing: var(--Tracking-md, -0.3px);
				}
			}			
		}
		.banner_bg {
			display: inline-flex;
			width: 64px;
			height: auto;
			align-items: center;
			justify-content: center;
			margin-left: auto;

			img {					
				width: 100%;
				height: 100%;
			}
		}
	}
	
}