// 푸터
#footer {
	margin: 0;
	margin-top: 80px;
	padding: 48px 20px 55px;
	background: var(--Background-fill-background, #F1F4F6);

	// 만약 같은 페이지에 .page_desc_wrap이 존재할 경우, 푸터의 마진/패딩 조정
	.page_desc_wrap + & {
		margin-top: 0;				
	}

	.f_top {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: flex-start;
		gap: 4px 4px;
		.f_title {
			color: var(--Font-tertiary-caption, #8C98A7);
			font-family: var(--Body, Pretendard);
			font-size: var(--Size-sm, 14px);
			font-style: normal;
			font-weight: var(--Weight-700, 700);
			line-height: var(--Line-height-lg, 21px); /* 150% */
			letter-spacing: var(--Tracking-md, -0.3px);
		}
		.f_txt {
			position: relative;
			display: inline-flex;
			align-items: flex-start;
			gap: 4px 4px;
			color: var(--Font-tertiary-caption, #8C98A7);
			font-family: var(--Body, Pretendard);
			font-size: var(--Size-sm, 14px);
			font-style: normal;
			font-weight: var(--Weight-400, 400);
			line-height: var(--Line-height-lg, 21px); /* 150% */
			letter-spacing: var(--Tracking-md, -0.3px);
			&::before {
				content: "";
				display: inline-block;
				width: 3px;
				height: 3px;
				min-width: 3px;
				background-color: var(--Gray-gray400, #B0B8C1);					
				border-radius: 100%;
				margin-top: 8px;
			}
		}
		.dataLink {
			padding-left: 8px;
			color: var(--Font-tertiary-caption, #8C98A7);
			font-family: var(--Body, Pretendard);
			font-size: var(--Size-sm, 14px);
			font-style: normal;
			font-weight: var(--Weight-400, 400);
			line-height: var(--Line-height-lg, 21px);
			letter-spacing: var(--Tracking-md, -0.3px);				
			a {
				color: var(--Font-tertiary-caption, #8C98A7);					
				font-weight: var(--Weight-400, 400);					
			}
		}
	}
	
	.foot_info {
		margin-top: 48px;
		padding-bottom: 24px;
		.f_title {
			color: var(--Font-tertiary-caption, #8C98A7);
			font-family: var(--Body, Pretendard);
			font-size: var(--Size-xs-13, 13px);
			font-style: normal;
			font-weight: var(--Weight-500, 500);
			line-height: var(--Line-height-xs-13, 16px); /* 123.077% */
			letter-spacing: var(--Tracking-md, -0.3px);
		}
		.term_list {
			display: flex;
			justify-content: flex-start;
			flex-wrap: nowrap;
			gap: 8px 12px;				
			margin: 8px 0 0;
			padding: 0;
			li {								
				display: inline-flex;
				align-items: center;
				gap: 0 12px;
				box-sizing: border-box;
				&:first-child {
					padding-left: 0;
					border-left: none;
					&::before {
						display: none;
					}
				}
				&::before {
					content: '';
					display: block;
					width: 1px;
					height: 11px;
					background-color : var(--Border-primary-border, #E3E5E8);									
				}
				a {
					color: var(--Font-tertiary-caption, #8C98A7);
					font-family: var(--Body, Pretendard);
					font-size: var(--Size-xs-13, 13px);
					font-style: normal;
					font-weight: var(--Weight-500, 500);
					line-height: var(--Line-height-xs-13, 16px); /* 123.077% */
					letter-spacing: var(--Tracking-md, -0.3px);
					strong {
						color: var(--Font-tertiary-caption, #8C98A7);
						font-family: var(--Body, Pretendard);
						font-size: var(--Size-xs-13, 13px);
						font-style: normal;
						font-weight: var(--Weight-700, 700);
						line-height: var(--Line-height-xs-13, 16px); /* 123.077% */
						letter-spacing: var(--Tracking-md, -0.3px);
					}
				}				
			}
		}
		.info_tel_box {			
			margin-top: 8px;

			.cs {
				display: flex;
				flex-direction: column;
				gap: 4px 4px;
				color: var(--Gray-gray400, #B0B8C1);
				font-family: var(--Body, Pretendard);
				font-size: var(--Size-xs-13, 13px);
				font-style: normal;
				font-weight: var(--Weight-500, 500);
				line-height: var(--Line-height-xs-13, 16px); /* 123.077% */
				letter-spacing: var(--Tracking-md, -0.3px);
				a {
					color: var(--Gray-gray600, #6B7684);
					font-family: var(--Body, Pretendard);
					font-size: var(--Size-xs-13, 13px);
					font-style: normal;
					font-weight: var(--Weight-500, 500);
					line-height: var(--Line-height-xs-13, 16px); /* 123.077% */
					letter-spacing: var(--Tracking-md, -0.3px);
					text-decoration-line: underline;
					text-decoration-style: solid;
					text-decoration-skip-ink: auto;
					text-decoration-thickness: auto;
					text-underline-offset: auto;
					text-underline-position: from-font;
				}
			}
		}

	}

	.foot_info {										
		.foot_title {
			color: var(--Gray-gray400, #B0B8C1);
			font-family: var(--Body, Pretendard);
			font-size: var(--Size-xs-13, 13px);
			font-style: normal;
			font-weight: var(--Weight-700, 700);
			line-height: var(--Line-height-xs-13, 16px); /* 123.077% */
			letter-spacing: var(--Tracking-md, -0.3px);
		}
		.foot_txt {
			display: flex;
			flex-direction: column;
			gap: 16px 16px;		
			margin-top: 4px;
			color: var(--Gray-gray400, #B0B8C1);
			font-family: var(--Body, Pretendard);
			font-size: var(--Size-xs-12, 12px);
			font-style: normal;
			font-weight: var(--Weight-500, 500);
			line-height: var(--Line-height-sm, 18px); /* 150% */
			letter-spacing: var(--Tracking-md, -0.3px);
			.txt {
				color: var(--Gray-gray400, #B0B8C1);
				font-family: var(--Body, Pretendard);
				font-size: var(--Size-xs-12, 12px);
				font-style: normal;
				font-weight: var(--Weight-500, 500);
				line-height: var(--Line-height-sm, 18px); /* 150% */
				letter-spacing: var(--Tracking-md, -0.3px);
			}
		}
		
		.dataLink {
			color: var(--Gray-gray400, #B0B8C1);
			font-family: var(--Body, Pretendard);
			font-size: var(--Size-xs-12, 12px);
			font-style: normal;
			font-weight: var(--Weight-500, 500);
			line-height: var(--Line-height-sm, 18px);
			letter-spacing: var(--Tracking-md, -0.3px);				
			margin-top: 2px;
			a {
				color: var(--Gray-gray400, #B0B8C1);
				font-family: var(--Body, Pretendard);
				font-size: var(--Size-xs-12, 12px);
				font-style: normal;
				font-weight: var(--Weight-500, 500);
				text-decoration-line: underline;					
			}
		}
	}
	.copyright {
		display: flex;
		flex-direction: column;
		gap: 4px 4px;
		margin: 0;
		padding: 0;
		margin-top: 8px;
		p, a {
			display: inline-flex;
			align-items: center;
			gap: 4px 4px;
			color: var(--Gray-gray400, #B0B8C1);
			font-family: var(--Body, Pretendard);
			font-size: var(--Size-xs-13, 13px);
			font-style: normal;
			font-weight: var(--Weight-500, 500);
			line-height: var(--Line-height-xs-13, 16px); /* 123.077% */
			letter-spacing: var(--Tracking-md, -0.3px);
			i {
				display: inline-flex;
				align-items: center;
				top: 0;
				border-color: #E3E5E8;
				margin: 0 8px;
			}
		}
		p:nth-child(2) {
			margin-top: 4px;
		}
		
	}
	.terms_list {
		flex-wrap: nowrap;
		justify-content: flex-start;
		gap: 6px 6px;
		a {
			padding: 0;
			margin: 0;
			display: inline-block;
			color: var(--Gray-gray600, #6B7684);
			font-family: var(--Body, Pretendard);
			font-size: var(--Size-xs-13, 13px);
			font-style: normal;
			font-weight: var(--Weight-500, 500);
			line-height: var(--Line-height-xs-13, 16px); /* 123.077% */
			letter-spacing: var(--Tracking-md, -0.3px);
			strong {					
				font-weight: var(--Weight-700, 700);					
			}				
		}		
		i {
			display: inline-flex;
			align-items: center;
			margin: 0 3px;
			display: inline-block;
			width: 1px;
			height: 10px;
			border-right: 1px solid #E3E5E8;
			top: 0;
			margin-right: 8px;
		}	
	}

	.family_site {
		display: flex;		
		gap: 4px 8px;		
		margin-top: 24px;
		padding-top: 24px;
		padding-bottom: 24px;
		border-top: 1px solid var(--Border-primary-border, #E3E5E8);
		
		.f_title {			
			color: var(--Gray-gray600, #6B7684);
			font-family: var(--Body, Pretendard);
			font-size: var(--Size-xs-13, 13px);
			font-style: normal;
			font-weight: var(--Weight-500, 500);
			line-height: var(--Line-height-xs-13, 16px); /* 123.077% */
			letter-spacing: var(--Tracking-md, -0.3px);
		}
		ul {
			display: inline-flex;
			align-items: center;
			gap: 4px 8px;
			li {
				a {
					color: var(--Gray-gray600, #6B7684);
					font-family: var(--Body, Pretendard);
					font-size: var(--Size-xs-13, 13px);
					font-style: normal;
					font-weight: var(--Weight-500, 500);
					line-height: var(--Line-height-xs-13, 16px); /* 123.077% */
					letter-spacing: var(--Tracking-md, -0.3px);
					text-decoration-line: underline;
					text-decoration-style: solid;
					text-decoration-skip-ink: auto;
					text-decoration-thickness: auto;
					text-underline-offset: auto;
					text-underline-position: from-font;
				}
			}
		}
	}

	&.main_footer {
		.f_top {
			.f_title {
				color: var(--Gray-gray400, #B0B8C1);
				font-family: var(--Body, Pretendard);
				font-size: var(--Size-xs-13, 13px);
				font-style: normal;
				font-weight: var(--Weight-700, 700);
				line-height: var(--Line-height-xs-13, 16px); /* 123.077% */
				letter-spacing: var(--Tracking-md, -0.3px);
			}
			.f_txt {
				&:first-of-type {					
					margin-top: 0;
				}
				margin-top: 12px;
				color: var(--Gray-gray400, #B0B8C1);
				font-family: var(--Body, Pretendard);
				font-size: var(--Size-xs-12, 12px);
				font-style: normal;
				font-weight: var(--Weight-500, 500);
				line-height: var(--Line-height-sm, 18px); /* 150% */
				letter-spacing: var(--Tracking-md, -0.3px);
				&::before {
					display: none;
				}
			}
			.dataLink {
				padding-left: 0;
				color: var(--Gray-gray400, #B0B8C1);
				font-family: var(--Body, Pretendard);
				font-size: var(--Size-xs-12, 12px);
				font-style: normal;
				font-weight: var(--Weight-500, 500);
				line-height: var(--Line-height-sm, 18px); /* 150% */
				letter-spacing: var(--Tracking-md, -0.3px);
			}
		}
		.foot_info {
			display: flex;
			gap: 8px 8px;
			flex-direction: column;
			margin-top: 32px;
			padding-bottom: 0;
			.term_list {
				margin-top: 0;				
				li a {
					color: var(--Gray-gray600, #6B7684);
					font-family: var(--Body, Pretendard);
					font-size: var(--Size-xs-13, 13px);
					font-style: normal;
					font-weight: var(--Weight-500, 500);
					line-height: var(--Line-height-xs-13, 16px); /* 123.077% */
					letter-spacing: var(--Tracking-md, -0.3px);
					strong {
						color: var(--Gray-gray600, #6B7684);						
						font-weight: var(--Weight-700, 700);						
					}
				}				
			}
		}
		.copyright {
			margin-top: 16px;
			p, a {
				position: relative;
				display: inline-flex;
				align-items: center;
				gap: 4px 4px;
				margin: 0;
				color: var(--Gray-gray400, #B0B8C1);
				font-family: var(--Body, Pretendard);
				font-size: var(--Size-xs-13, 13px);
				font-style: normal;
				font-weight: var(--Weight-500, 500);
				line-height: var(--Line-height-xs-13, 16px); /* 123.077% */
				letter-spacing: var(--Tracking-md, -0.3px);
				i {
					display: inline-flex;
					align-items: center;
					width: 1px;
					height: 11px;
					position: relative;
					top: 0;
					background-color: var(--Border-primary-border, #E3E5E8);
					margin: 0 8px;
				}
			}			
		}
		
	}

	&.chous_footer {
		.f_top {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			align-items: flex-start;
			gap: 4px 4px;
			.f_title {
				color: var(--Font-tertiary-caption, #8C98A7);
				font-family: var(--Body, Pretendard);
				font-size: var(--Size-sm, 14px);
				font-style: normal;
				font-weight: var(--Weight-700, 700);
				line-height: var(--Line-height-lg, 21px); /* 150% */
				letter-spacing: var(--Tracking-md, -0.3px);
			}
			.f_txt {
				position: relative;
				display: inline-flex;
				align-items: flex-start;
				gap: 4px 4px;
				color: var(--Font-tertiary-caption, #8C98A7);
				font-family: var(--Body, Pretendard);
				font-size: var(--Size-sm, 14px);
				font-style: normal;
				font-weight: var(--Weight-400, 400);
				line-height: var(--Line-height-lg, 21px); /* 150% */
				letter-spacing: var(--Tracking-md, -0.3px);
				&::before {
					content: "";
					display: inline-block;
					width: 3px;
					height: 3px;
					min-width: 3px;
					background-color: var(--Gray-gray400, #B0B8C1);					
					border-radius: 100%;
					margin-top: 8px;
				}
			}
			.dataLink {
				padding-left: 8px;
				color: var(--Font-tertiary-caption, #8C98A7);
				font-family: var(--Body, Pretendard);
				font-size: var(--Size-sm, 14px);
				font-style: normal;
				font-weight: var(--Weight-400, 400);
				line-height: var(--Line-height-lg, 21px);
				letter-spacing: var(--Tracking-md, -0.3px);				
				a {
					color: var(--Font-tertiary-caption, #8C98A7);					
					font-weight: var(--Weight-400, 400);					
				}
			}
		}
		
		.foot_info {
			margin-top: 48px;
			padding-bottom: 24px;
			.f_title {
				color: var(--Font-tertiary-caption, #8C98A7);
				font-family: var(--Body, Pretendard);
				font-size: var(--Size-xs-13, 13px);
				font-style: normal;
				font-weight: var(--Weight-500, 500);
				line-height: var(--Line-height-xs-13, 16px); /* 123.077% */
				letter-spacing: var(--Tracking-md, -0.3px);
			}
			.term_list {
				display: flex;
				justify-content: flex-start;
				flex-wrap: nowrap;
				gap: 6px 12px;				
				margin: 8px 0 0;
				padding: 0;
				li {								
					display: inline-flex;
					align-items: center;
					gap: 0 12px;
					box-sizing: border-box;
					&:first-child {
						padding-left: 0;
						border-left: none;
						&::before {
							display: none;
						}
					}
					&::before {
						content: '';
						display: block;
						width: 1px;
						height: 11px;
						background-color : var(--Border-primary-border, #E3E5E8);									
					}
					a {
						color: var(--Font-tertiary-caption, #8C98A7);
						font-family: var(--Body, Pretendard);
						font-size: var(--Size-xs-13, 13px);
						font-style: normal;
						font-weight: var(--Weight-500, 500);
						line-height: var(--Line-height-xs-13, 16px); /* 123.077% */
						letter-spacing: var(--Tracking-md, -0.3px);
						strong {
							color: var(--Font-tertiary-caption, #8C98A7);
							font-family: var(--Body, Pretendard);
							font-size: var(--Size-xs-13, 13px);
							font-style: normal;
							font-weight: var(--Weight-700, 700);
							line-height: var(--Line-height-xs-13, 16px); /* 123.077% */
							letter-spacing: var(--Tracking-md, -0.3px);
						}
					}
					
				}
			}
	
		}
	}

	&.event_footer {						
		
	}
}

.certification {
	position: relative;
	top: 36px; 
	padding: 19px 15px;
	background-color: #F5F5F9;

	ul {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-evenly;
		gap: 10px 12px;
	}	
	ul li {
		flex: 1 1 30%;
		text-align: center;
	}	
	ul li img {
		display: inline-block;
		width: auto;
		max-height: 22px;
	}
}
// 페이지 하단, 페이지에 대한 설명 문구 영역입니다
.page_desc_wrap {
	margin-top: 80px;
	padding: 48px 20px 0;
	background: var(--Background-fill-background, #F1F4F6);

	// tmzmfls 
	// position: absolute;
	// width: 1px;
	// height: 1px;
	// padding: 0;
	// overflow: hidden;
	// clip: rect(0, 0, 0, 0);
	// white-space: nowrap;
	// border: 0;


	.page_desc_inner {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: flex-start;
		gap: 4px 4px;
		.f_title {
			color: var(--Font-tertiary-caption, #8C98A7);
			font-family: var(--Body, Pretendard);
			font-size: var(--Size-sm, 14px);
			font-style: normal;
			font-weight: var(--Weight-700, 700);
			line-height: var(--Line-height-lg, 21px); /* 150% */
			letter-spacing: var(--Tracking-md, -0.3px);
		}
		.f_txt {
			position: relative;
			display: inline-flex;
			flex-wrap: wrap;
			align-items: center;			
			gap: 0 4px;
			padding-left: 8px;
			color: var(--Font-tertiary-caption, #8C98A7);
			font-family: var(--Body, Pretendard);
			font-size: var(--Size-sm, 14px);
			font-style: normal;
			font-weight: var(--Weight-400, 400);
			line-height: var(--Line-height-lg, 21px); /* 150% */
			letter-spacing: var(--Tracking-md, -0.3px);
			word-break: break-all;
			word-wrap: break-word;			
			&::before {
				content: "";
				display: inline-block;
				position: absolute;
				left: 0;
				top: 8px;
				width: 3px;
				height: 3px;
				min-width: 3px;
				background-color: var(--Gray-gray400, #B0B8C1);					
				border-radius: 100%;				

			}
		}
		.f_list {
			display: flex;
			gap: 4px 4px;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;
			padding: 2px 0 2px 12px;			

			li {
				color: var(--Font-tertiary-caption, #8C98A7);
				font-family: var(--Body, Pretendard);
				font-size: var(--Size-sm, 14px);
				font-style: normal;
				font-weight: var(--Weight-400, 400);
				line-height: var(--Line-height-lg, 21px); /* 150% */
				letter-spacing: var(--Tracking-md, -0.3px);
				word-break: break-all;
				word-wrap: break-word;
			}
			
		}
		.faq_link {			
			display: flex;			
			align-items: center;			
			gap: 2px 2px;
			width: 100%;
			color: var(--Font-secondary-caption, #6B7684);
			font-family: var(--Body, Pretendard);
			font-size: var(--Size-sm, 14px);
			font-style: normal;
			font-weight: var(--Weight-400, 400);
			line-height: var(--Line-height-lg, 21px); /* 150% */
			letter-spacing: var(--Tracking-md, -0.3px);
			text-decoration-line: underline;
			text-decoration-style: solid;
			text-decoration-skip-ink: auto;
			text-decoration-thickness: auto;
			text-underline-offset: auto;
			text-underline-position: from-font;
		}
	}
	
}