// 푸터
#footer {
	background: #e0e4e9;	
	margin-top: 20px;

	&.fix_footer {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		box-sizing: border-box;
		z-index: 91;
		width: 100%;
	}

	.notice {
		padding: 24px 30px 80px;		
		.service_info {
			display: flex;
			flex-direction: column;
			gap: 5px 5px;
			p {
				line-height: 1.6;
				letter-spacing: -0.5px;
				color: #808993;
				font-size: 10px;					
			}			
		}
		.dataLink {
			text-align: left;			
			color: #848c96;
			a {
				font-size: 10px;	
				color: #848c96;
				text-decoration: underline;
			}
		}
	}

	.terms_list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 7px 5px;
		width: 100%;
		margin-top: 25px;

		li {
			flex: 1 1 40%;
			display: block;
			width: 100%;
			box-sizing: border-box;

			&:nth-child(2),
			&:nth-child(4) {
				padding-left: 50px;
			}
		}

		li, li a {
			font-size: 0.8125rem;
			line-height: 1.31;
			text-align: left;
			color: #49525c;
		}
	}

	.foot_info {		
		margin-top: 24px;

		.info_tel_box {
			display: flex;
			flex-wrap: wrap;
			align-content: center;
		}	
		.info_tel_box .cs {
			display: block;
			word-break: break-all;
			word-wrap: break-word;			
			font-size: 0.75rem;
			line-height: 1.4;
			color: #808993;
			a {
				color: #808993;
				text-decoration: underline;
				margin-right: 3px;
				font-size: 0.8125rem;
			}
		}		
	}

	.copyright {
		margin-top: 20px;
		color: #808993;
		font-size: 11px;
		line-height: 1.55;
		letter-spacing: -0.55px;		
		word-break: break-all;
    	word-wrap: break-word;
		a {
			color: #808993;
			font-size: 11px;
		}
		strong {
			font-weight: normal;
		}
		i {
			vertical-align: top;
			position: relative;
			top: 3px;
			margin: 0 3px;
			display: inline-block;
			width: 1px;
			height: 10px;
			border-right: 1px solid #c2c8ce;
		}
	}

	.family_site {
		display: flex;
		align-items: center;
		gap: 0 8px;
		margin-top: 15px;
		font-size: 11px;
		color: #808993;
		a {			
			position: relative;
			font-size: 11px;
			line-height: 1.55;
			letter-spacing: -0.55px;
			color: #808993;
			text-decoration: underline;					
			+ i {
				display: inline-block;
				width: 1px;
				height: 10px;
				background-color: #c2c8ce;
			}
		}		
	}	
}

.certification {
	position: relative;
	top: 36px; 
	padding: 19px 15px;
	background-color: #F5F5F9;

	ul {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-evenly;
		gap: 10px 12px;
	}	
	ul li {
		flex: 1 1 30%;
		text-align: center;
	}	
	ul li img {
		display: inline-block;
		width: auto;
		max-height: 22px;
	}
}

#footer {
	&.gdn_footer {		
		border-top: 1px solid var(--Border-secondary-border, #F1F4F6);
		background-color: #fff;
		margin: 0;
		margin-top: 70px;
		padding: 48px 32px;
		box-sizing: border-box;
		.foot_info {						
			margin: 0;
			padding: 0;
			.foot_txt {
				display: flex;
				flex-direction: column;
				gap: 16px 16px;		
				margin-top: 4px;
			}
			.foot_title {
				color: var(--Gray-gray400, #B0B8C1);
				font-family: var(--Body, Pretendard);
				font-size: var(--Size-xs-13, 13px);
				font-style: normal;
				font-weight: var(--Weight-700, 700);
				line-height: var(--Line-height-xs-13, 16px); /* 123.077% */
				letter-spacing: var(--Tracking-md, -0.3px);	
			}
			.txt {
				color: var(--Gray-gray400, #B0B8C1);
				font-family: var(--Body, Pretendard);
				font-size: var(--Size-xs-12, 12px);
				font-style: normal;
				font-weight: var(--Weight-500, 500);
				line-height: var(--Line-height-sm, 18px); /* 150% */
				letter-spacing: var(--Tracking-md, -0.3px);
			}
			.dataLink {
				color: var(--Gray-gray400, #B0B8C1);
				font-family: var(--Body, Pretendard);
				font-size: var(--Size-xs-12, 12px);
				font-style: normal;
				font-weight: var(--Weight-500, 500);
				line-height: var(--Line-height-sm, 18px);
				letter-spacing: var(--Tracking-md, -0.3px);				
				margin-top: 2px;
				a {
					color: var(--Gray-gray400, #B0B8C1);
					font-family: var(--Body, Pretendard);
					font-size: var(--Size-xs-12, 12px);
					font-style: normal;
					font-weight: var(--Weight-500, 500);
					text-decoration-line: underline;					
				}
			}
		}
		.copyright {
			display: flex;
			flex-direction: column;
			gap: 4px 4px;
			margin: 0;
			padding: 0;
			margin-top: 8px;
			p, a {
				display: inline-flex;
				align-items: center;
				gap: 4px 4px;
				color: var(--Gray-gray400, #B0B8C1);
				font-family: var(--Body, Pretendard);
				font-size: var(--Size-xs-13, 13px);
				font-style: normal;
				font-weight: var(--Weight-500, 500);
				line-height: var(--Line-height-xs-13, 16px); /* 123.077% */
				letter-spacing: var(--Tracking-md, -0.3px);
				i {
					display: inline-flex;
					align-items: center;
					top: 0;
					border-color: #E3E5E8;
					margin: 0 8px;
				}
			}
			p:nth-child(2) {
				margin-top: 4px;
			}
			
		}
		.terms_list {
			flex-wrap: nowrap;
			justify-content: flex-start;
			gap: 6px 6px;
			a {
				padding: 0;
				margin: 0;
				display: inline-block;
				color: var(--Gray-gray600, #6B7684);
				font-family: var(--Body, Pretendard);
				font-size: var(--Size-xs-13, 13px);
				font-style: normal;
				font-weight: var(--Weight-500, 500);
				line-height: var(--Line-height-xs-13, 16px); /* 123.077% */
				letter-spacing: var(--Tracking-md, -0.3px);
				strong {					
					font-weight: var(--Weight-700, 700);					
				}				
			}		
			i {
				display: inline-flex;
				align-items: center;
				margin: 0 3px;
				display: inline-block;
				width: 1px;
				height: 10px;
				border-right: 1px solid #E3E5E8;
				top: 0;
				margin-right: 6px;
			}	
		}
	}

}