// 모달, 툴팁 스타일 모아놓은 곳

// 툴팁
.v_signalStreng.globalStock #wrap #container .tooltip {
	display: none;
	position: absolute;
	left: 10px;
	top: 20px;
	padding: 20px;
	width: 280px;
	box-sizing: border-box;
	border-radius: 10px;
	box-shadow: 0 10px 20px 0 rgba(101, 109, 126, 0.08);
	border: solid 1px #222;
	background-color: #fff;
	z-index: 9;

	.t_title {
		font-size: 15px;
		font-weight: 700;
		color: #333;
	}
	.txt {
		display: block;
		margin-top: 15px;
		font-size: 13px;
		line-height: 1.62;
		color: #656d7e;
		word-break: break-all;
    	word-wrap: break-word;
	}
	.clse_tooltip {
		position: absolute;
		right: 15px;
		top: 15px;
		display: inline-block;
		cursor: pointer;
		font-size: 0;
		width: 24px;
		height: 24px;
		&::before {
			content: "";
			height: 18px;
			border-left: 2px solid #bfc6d9;
			position: absolute;
			transform: rotate(-45deg);
			top: 5px;
			left: 12px;
		}
		&::after {
			content: "";
			height: 18px;
			border-left: 2px solid #bfc6d9;
			position: absolute;
			transform: rotate(45deg);
			top: 5px;
			left: 12px;
		}
	}
	
}

.v_signalStreng.globalStock #wrap #container .guide_box {
	display: none;
	position: absolute;
	left: 10px;
	top: 20px;
	padding: 26px 30px 20px 15px;	
	width: 320px;
	@media (min-width: 320px) and (max-width: 358px) {
		width: 280px;
	}
	box-sizing: border-box;
	border-radius: 10px;
	box-shadow: 0 10px 20px 0 rgba(101, 109, 126, 0.08);
	border: solid 1px #222;
	background-color: #fff;
	z-index: 9;

	ul li, .txt {
		display: block;		
		font-size: 13px;
		line-height: 1.62;
		color: #656d7e;
		text-align: left;
		word-break: break-all;
    	word-wrap: break-word;
	}		
	.txt {
		margin-bottom: 13px;
	}
	.list_txt {
		position: relative;
		padding-left: 10px;

		&::before {
			content: "";
			width: 5px;
			height: 1px;
			position: absolute;
			left: 0;
			top: 10px;
			background-color: #6a6a6a;
		}
	}

	.clse {
		position: absolute;
		right: 6px;
    	top: 5px;
		display: inline-block;
		cursor: pointer;
		font-size: 0;
		width: 24px;
		height: 24px;
		&::before {
			content: "";
			height: 18px;
			border-left: 2px solid #bfc6d9;
			position: absolute;
			transform: rotate(-45deg);
			top: 5px;
			left: 12px;
		}
		&::after {
			content: "";
			height: 18px;
			border-left: 2px solid #bfc6d9;
			position: absolute;
			transform: rotate(45deg);
			top: 5px;
			left: 12px;
		}
	}

}



// .globalStock .sub_game .gamePicks_area .guide_box.show {
// 	display: block;
// }

// .globalStock .sub_game .gamePicks_area .guide_box.hide {
// 	display: none;
// }

// .globalStock .sub_game .gamePicks_area .guide_box .title {
// 	font-weight: normal;
// 	color: #8380A0;
// 	line-height: 22px;
// 	font-size: 0.8rem;
// 	display: block;
// 	text-align: left;
// }

// .globalStock .sub_game .gamePicks_area .guide_box ul {
// 	margin-top: 15px;
// 	margin-bottom: 20px;
// }

// .globalStock .sub_game .gamePicks_area .guide_box ul::before {
// 	display: none;
// }

// .globalStock .sub_game .gamePicks_area .guide_box ul li {
// 	color: #8380A0;
// 	margin-bottom: 5px;
// 	text-align: left;
// 	line-height: 22px;
// 	font-size: 0.8rem;
// 	vertical-align: top;
// 	font-weight: normal;
// }

// .globalStock .sub_game .gamePicks_area .guide_box ul li strong {
// 	color: #8380A0;
// 	font-size: 0.8rem;
// 	font-weight: normal;
// }

// .globalStock .sub_game .gamePicks_area .guide_box .txt {
// 	font-size: 12px;
// 	line-height: 1.42;
// 	color: #6a6a6a;
// 	text-align: left;
// 	margin-bottom: 13px;
// 	font-weight: normal;
// }

// .globalStock .sub_game .gamePicks_area .guide_box .txt strong {
// 	font-size: 12px;
// 	line-height: 1.42;
// 	color: #6a6a6a;
// }

// .globalStock .sub_game .gamePicks_area .guide_box li.list_txt {
// 	font-size: 12px;
// 	line-height: 1.42;
// 	text-align: left;
// 	color: #6a6a6a;
// 	padding-left: 10px;
// 	position: relative;
// 	word-break: break-all;
// 	word-wrap: break-word;
// }

// .globalStock .sub_game .gamePicks_area .guide_box li.list_txt::before {
// 	content: '';
// 	width: 5px;
// 	height: 1px;
// 	position: absolute;
// 	left: 0;
// 	top: 6px;
// 	background-color: #6a6a6a;
// }

// .globalStock .sub_search .sub_mid.tabs_area .evaluation_data .guide_box {
// 	box-shadow: 0px 0px 7px 2px #dfdfdf;
// 	border-radius: 8px;
// 	position: absolute;
// 	left: 15px;
// 	top: 26px;
// 	z-index: 80;
// 	padding: 35px 15px 15px;
// 	background: #fff;
// 	width: 340px;
// 	box-sizing: border-box;
// 	z-index: 9998;
// 	display: none;
// }

// .globalStock .sub_search .sub_mid.tabs_area .evaluation_data .guide_box .clse {
// 	display: inline-block;
// 	font-size: 0;
// 	width: 24px;
// 	height: 24px;
// 	box-sizing: border-box;
// 	position: absolute;
// 	right: -7px;
// 	top: -8px;
// 	background-color: #d3d3d3;
// 	padding: 2px;
// 	border-radius: 50%;
// }

// .globalStock .sub_search .sub_mid.tabs_area .evaluation_data .guide_box .clse::after {
// 	content: '';
// 	height: 14px;
// 	border-left: 1px solid #fff;
// 	position: absolute;
// 	transform: rotate(45deg);
// 	top: 5px;
// 	left: 12px;
// }

// .globalStock .sub_search .sub_mid.tabs_area .evaluation_data .guide_box .clse::before {
// 	content: '';
// 	height: 14px;
// 	border-left: 1px solid #fff;
// 	position: absolute;
// 	transform: rotate(-45deg);
// 	top: 5px;
// 	left: 12px;
// }

// .globalStock .sub_search .sub_mid.tabs_area .evaluation_data .guide_box.show {
// 	display: block;
// }

// .globalStock .sub_search .sub_mid.tabs_area .evaluation_data .guide_box.hide {
// 	display: none;
// }

// .globalStock .sub_search .sub_mid.tabs_area .evaluation_data .guide_box .title {
// 	font-weight: bold;
// 	display: block;
// 	color: #333;
// 	font-size: 1rem;
// 	line-height: 22px;
// 	text-align: left;
// }

// .globalStock .sub_search .sub_mid.tabs_area .evaluation_data .guide_box ul {
// 	margin-top: 15px;
// 	margin-bottom: 20px;
// }

// .globalStock .sub_search .sub_mid.tabs_area .evaluation_data .guide_box ul li {
// 	color: #8380A0;
// 	margin-bottom: 5px;
// 	text-align: left;
// 	line-height: 22px;
// 	font-size: 0.8rem;
// 	vertical-align: top;
// 	font-weight: normal;
// }

// .globalStock .sub_search .sub_mid.tabs_area .evaluation_data .guide_box ul li strong {
// 	font-weight: bold;
// 	color: #444;
// 	vertical-align: middle;
// 	font-size: 0.9rem;
// }

// .globalStock .sub_search .sub_mid .investCharm_area .chart_sum .guide_box {
// 	box-shadow: 0px 0px 7px 2px #dfdfdf;
// 	border-radius: 8px;
// 	position: absolute;
// 	left: -183px;
// 	top: 10px;
// 	z-index: 9998;
// 	padding: 35px 15px 15px;
// 	background: #fff;
// 	width: 340px;
// 	box-sizing: border-box;
// 	display: none;
// }

// .globalStock .sub_search .sub_mid .investCharm_area .chart_sum .guide_box .clse {
// 	display: inline-block;
// 	font-size: 0;
// 	width: 16px;
// 	height: 16px;
// 	position: absolute;
// 	right: 15px;
// 	top: 15px;
// 	background: url('/img/clse.png') no-repeat 0 0;
// 	background-size: 100% 100%;
// }

// .globalStock .sub_search .sub_mid .investCharm_area .chart_sum .guide_box.show {
// 	display: block;
// }

// .globalStock .sub_search .sub_mid .investCharm_area .chart_sum .guide_box.hide {
// 	display: none;
// }

// .globalStock .sub_search .sub_mid .investCharm_area .chart_sum .guide_box .title {
// 	font-weight: bold;
// 	display: block;
// 	color: #333;
// 	font-size: 1rem;
// 	line-height: 22px;
// 	text-align: left;
// }

// .globalStock .sub_search .sub_mid .investCharm_area .chart_sum .guide_box ul {
// 	margin-top: 15px;
// 	margin-bottom: 20px;
// }

// .globalStock .sub_search .sub_mid .investCharm_area .chart_sum .guide_box ul li {
// 	color: #939393;
// 	margin-bottom: 5px;
// 	text-align: left;
// 	line-height: 22px;
// 	font-size: 0.8rem;
// 	vertical-align: top;
// }

// .globalStock .sub_search .sub_mid .investCharm_area .chart_sum .guide_box ul li strong {
// 	font-weight: bold;
// 	color: #444;
// 	vertical-align: middle;
// 	font-size: 0.9375rem;
// }

// .globalStock .sub_search .sub_mid .investCharm_area .chart_sum .guide_box {
// 	box-shadow: 0px 0px 7px 2px #dfdfdf;
// 	border-radius: 8px;
// 	position: absolute;
// 	left: -183px;
// 	top: 10px;
// 	z-index: 9998;
// 	padding: 35px 15px 15px;
// 	background: #fff;
// 	width: 340px;
// 	box-sizing: border-box;
// 	display: none;
// }

// .globalStock .sub_search .sub_mid .investCharm_area .chart_sum .guide_box .clse {
// 	display: inline-block;
// 	font-size: 0;
// 	width: 16px;
// 	height: 16px;
// 	position: absolute;
// 	right: 15px;
// 	top: 15px;
// 	background: url('/img/clse.png') no-repeat 0 0;
// 	background-size: 100% 100%;
// }

// .globalStock .sub_search .sub_mid .investCharm_area .chart_sum .guide_box.show {
// 	display: block;
// }

// .globalStock .sub_search .sub_mid .investCharm_area .chart_sum .guide_box.hide {
// 	display: none;
// }

// .globalStock .sub_search .sub_mid .investCharm_area .chart_sum .guide_box .title {
// 	font-weight: bold;
// 	display: block;
// 	color: #333;
// 	font-size: 1rem;
// 	line-height: 22px;
// 	text-align: left;
// }

// .globalStock .sub_search .sub_mid .investCharm_area .chart_sum .guide_box ul {
// 	margin-top: 15px;
// 	margin-bottom: 20px;
// }

// .globalStock .sub_search .sub_mid .investCharm_area .chart_sum .guide_box ul li {
// 	color: #939393;
// 	margin-bottom: 5px;
// 	text-align: left;
// 	line-height: 22px;
// 	font-size: 0.8rem;
// 	vertical-align: top;
// }

// .globalStock .sub_search .sub_mid .investCharm_area .chart_sum .guide_box ul li strong {
// 	font-weight: bold;
// 	color: #444;
// 	vertical-align: middle;
// 	font-size: 0.9375rem;
// }

// .globalStock .sub_search .sub_mid.tabs_area .chart_area.diagnosis .data_attainment .guide_box {
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// 	transform: translate(-15%, 0%);
// 	box-shadow: 0px 0px 7px 2px #dfdfdf;
// 	border-radius: 8px;
// 	padding: 35px 15px 15px;
// 	background: #fff;
// 	width: 340px;
// 	box-sizing: border-box;
// 	z-index: 9998;
// 	display: none;
// }

// .globalStock .sub_search .sub_mid.tabs_area .chart_area.diagnosis .data_attainment .guide_box .clse {
// 	display: inline-block;
// 	font-size: 0;
// 	width: 16px;
// 	height: 16px;
// 	position: absolute;
// 	right: 15px;
// 	top: 15px;
// 	background: url('/img/clse.png') no-repeat 0 0;
// 	background-size: 100% 100%;
// 	padding: 2px;
// }

// .globalStock .sub_search .sub_mid.tabs_area .chart_area.diagnosis .data_attainment .guide_box.show {
// 	display: block;
// }

// .globalStock .sub_search .sub_mid.tabs_area .chart_area.diagnosis .data_attainment .guide_box.hide {
// 	display: none;
// }

// .globalStock .sub_search .sub_mid.tabs_area .chart_area.diagnosis .data_attainment .guide_box .title {
// 	font-weight: normal;
// 	color: #8380A0;
// 	line-height: 22px;
// 	font-size: 0.8rem;
// 	display: block;
// 	text-align: left;
// }

// .globalStock .sub_search .sub_mid.tabs_area .chart_area.diagnosis .data_attainment .guide_box ul {
// 	margin-top: 15px;
// 	margin-bottom: 20px;
// }

// .globalStock .sub_search .sub_mid.tabs_area .chart_area.diagnosis .data_attainment .guide_box ul li {
// 	color: #8380A0;
// 	margin-bottom: 5px;
// 	text-align: left;
// 	line-height: 22px;
// 	font-size: 0.8rem;
// 	vertical-align: top;
// 	font-weight: normal;
// }

// .globalStock .sub_search .sub_mid.tabs_area .chart_area.diagnosis .data_attainment .guide_box ul li strong {
// 	color: #8380A0;
// 	font-size: 0.8rem;
// 	font-weight: normal;
// }

// .globalStock .sub_search .sub_mid.tabs_area .chart_area.diagnosis .chartData .charm .guide_box {
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// 	transform: translate(-17%, 0%);
// 	box-shadow: 0px 0px 7px 2px #dfdfdf;
// 	border-radius: 8px;
// 	padding: 35px 15px 15px;
// 	background: #fff;
// 	width: 340px;
// 	box-sizing: border-box;
// 	z-index: 9998;
// 	display: none;
// }

// .globalStock .sub_search .sub_mid.tabs_area .chart_area.diagnosis .chartData .charm .guide_box .clse {
// 	display: inline-block;
// 	font-size: 0;
// 	width: 24px;
// 	height: 24px;
// 	box-sizing: border-box;
// 	position: absolute;
// 	right: -7px;
// 	top: -8px;
// 	background-color: #d3d3d3;
// 	padding: 2px;
// 	border-radius: 50%;
// }

// .globalStock .sub_search .sub_mid.tabs_area .chart_area.diagnosis .chartData .charm .guide_box .clse::after {
// 	content: '';
// 	height: 14px;
// 	border-left: 1px solid #fff;
// 	position: absolute;
// 	transform: rotate(45deg);
// 	top: 5px;
// 	left: 12px;
// }

// .globalStock .sub_search .sub_mid.tabs_area .chart_area.diagnosis .chartData .charm .guide_box .clse::before {
// 	content: '';
// 	height: 14px;
// 	border-left: 1px solid #fff;
// 	position: absolute;
// 	transform: rotate(-45deg);
// 	top: 5px;
// 	left: 12px;
// }

// .globalStock .sub_search .sub_mid.tabs_area .chart_area.diagnosis .chartData .charm .guide_box.show {
// 	display: block;
// }

// .globalStock .sub_search .sub_mid.tabs_area .chart_area.diagnosis .chartData .charm .guide_box.hide {
// 	display: none;
// }

// .globalStock .sub_search .sub_mid.tabs_area .chart_area.diagnosis .chartData .charm .guide_box .title {
// 	font-weight: normal;
// 	color: #8380A0;
// 	line-height: 22px;
// 	font-size: 0.8rem;
// 	display: block;
// 	text-align: left;
// }

// .globalStock .sub_search .sub_mid.tabs_area .chart_area.diagnosis .chartData .charm .guide_box ul {
// 	margin-top: 15px;
// 	margin-bottom: 20px;
// }

// .globalStock .sub_search .sub_mid.tabs_area .chart_area.diagnosis .chartData .charm .guide_box ul li {
// 	color: #8380A0;
// 	margin-bottom: 5px;
// 	text-align: left;
// 	line-height: 22px;
// 	font-size: 0.8rem;
// 	vertical-align: top;
// 	font-weight: normal;
// }

// .globalStock .sub_search .sub_mid.tabs_area .chart_area.diagnosis .chartData .charm .guide_box ul li strong {
// 	color: #8380A0;
// 	font-size: 0.8rem;
// 	font-weight: normal;
// }

// .globalStock .sub_search .sub_mid.tabs_area .chart_area.diagnosis .chartData .charm .guide_box .txt {
// 	font-size: 12px;
// 	line-height: 1.42;
// 	color: #6a6a6a;
// 	text-align: left;
// 	margin-bottom: 13px;
// }

// .globalStock .sub_search .sub_mid.tabs_area .chart_area.diagnosis .chartData .charm .guide_box .txt strong {
// 	font-size: 12px;
// 	line-height: 1.42;
// 	color: #6a6a6a;
// }

// .globalStock .sub_search .sub_mid.tabs_area .chart_area.diagnosis .chartData .charm .guide_box li.list_txt {
// 	font-size: 12px;
// 	line-height: 1.42;
// 	text-align: left;
// 	color: #6a6a6a;
// 	padding-left: 10px;
// 	position: relative;
// 	word-break: break-all;
// 	word-wrap: break-word;
// }

// .globalStock .sub_search .sub_mid.tabs_area .chart_area.diagnosis .chartData .charm .guide_box li.list_txt::before {
// 	content: '';
// 	width: 5px;
// 	height: 1px;
// 	position: absolute;
// 	left: 0;
// 	top: 6px;
// 	background-color: #6a6a6a;
// }

// .th_guide_hide .guide_box {
// 	border: 1px solid #E4E7EB;
// 	z-index: 80;
// 	position: absolute;
// 	left: 54px;
// 	padding: 0 15px;
// 	background: #fff;
// 	box-sizing: border-box;
// }

// .th_guide_hide.txt02 .guide_box {
// 	left: auto;
// 	right: 5px;
// }

// .th_guide_hide .guide_box .clse {
// 	display: inline-block;
// 	font-size: 0;
// 	width: 16px;
// 	height: 16px;
// 	position: absolute;
// 	right: 15px;
// 	top: 15px;
// 	background: url('/img/clse.png') no-repeat 0 0;
// 	background-size: 100% 100%;
// }

// .th_guide_hide .guide_box.show {
// 	display: block;
// }

// .th_guide_hide .guide_box.hide {
// 	display: none;
// }

// .th_guide_hide .guide_box .title {
// 	font-weight: bold;
// 	display: block;
// 	color: #333;
// 	font-size: 1rem;
// 	line-height: 22px;
// 	text-align: left;
// }

// .th_guide_hide .guide_box ul {
// 	margin: 2px auto;
// }

// .th_guide_hide .guide_box ul li {
// 	color: #939393;
// 	text-align: left;
// 	line-height: 22px;
// 	font-size: 0.75rem;
// }

// .th_guide_hide .guide_box ul li strong {
// 	font-weight: bold;
// 	color: #444;
// 	font-size: 0.8rem;
// 	margin-right: 5px;
// }

// .th_guide_hide .guide_box {
// 	display: none;
// }

// .th_guide_hide .guide_box.hide {
// 	display: none;
// }

// .globalStock .sub_search .sub_mid.competitors_table .guide_box {
// 	box-shadow: 0px 0px 7px 2px #dfdfdf;
// 	border-radius: 8px;
// 	position: absolute;
// 	left: 15px;
// 	top: 10px;
// 	z-index: 9998;
// 	padding: 25px 15px 15px;
// 	background: #fff;
// 	width: 340px;
// 	box-sizing: border-box;
// 	display: none;
// }

// .globalStock .sub_search .sub_mid.competitors_table .guide_box .clse {
// 	display: inline-block;
// 	font-size: 0;
// 	width: 24px;
// 	height: 24px;
// 	box-sizing: border-box;
// 	position: absolute;
// 	right: -7px;
// 	top: -8px;
// 	background-color: #d3d3d3;
// 	padding: 2px;
// 	border-radius: 50%;
// }

// .globalStock .sub_search .sub_mid.competitors_table .guide_box .clse::after {
// 	content: '';
// 	height: 14px;
// 	border-left: 1px solid #fff;
// 	position: absolute;
// 	transform: rotate(45deg);
// 	top: 5px;
// 	left: 12px;
// }

// .globalStock .sub_search .sub_mid.competitors_table .guide_box .clse::before {
// 	content: '';
// 	height: 14px;
// 	border-left: 1px solid #fff;
// 	position: absolute;
// 	transform: rotate(-45deg);
// 	top: 5px;
// 	left: 12px;
// }

// .globalStock .sub_search .sub_mid.competitors_table .guide_box.show {
// 	display: block;
// }

// .globalStock .sub_search .sub_mid.competitors_table .guide_box.hide {
// 	display: none;
// }

// .globalStock .sub_search .sub_mid.competitors_table .guide_box .title {
// 	font-weight: bold;
// 	display: block;
// 	color: #333;
// 	font-size: 1rem;
// 	line-height: 22px;
// 	text-align: left;
// }

// .globalStock .sub_search .sub_mid.competitors_table .guide_box ul {
// 	margin-top: 15px;
// 	margin-bottom: 20px;
// }

// .globalStock .sub_search .sub_mid.competitors_table .guide_box ul li {
// 	color: #939393;
// 	margin-bottom: 5px;
// 	text-align: left;
// 	line-height: 22px;
// 	font-size: 0.8rem;
// 	vertical-align: top;
// }

// .globalStock .sub_search .sub_mid.competitors_table .guide_box ul li strong {
// 	font-weight: bold;
// 	color: #444;
// 	vertical-align: middle;
// 	font-size: 0.9375rem;
// }

// .globalStock .sub_attract .sub_mid.attract_sub .guide_box {
// 	box-shadow: 0px 0px 7px 2px #dfdfdf;
// 	border-radius: 8px;
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// 	transform: translate(-12%, 0%);
// 	z-index: 80;
// 	padding: 35px 15px 15px;
// 	background: #fff;
// 	width: 340px;
// 	box-sizing: border-box;
// 	z-index: 9998;
// 	display: none;
// }

// .globalStock .sub_attract .sub_mid.attract_sub .guide_box .clse {
// 	display: inline-block;
// 	font-size: 0;
// 	width: 24px;
// 	height: 24px;
// 	box-sizing: border-box;
// 	position: absolute;
// 	right: -7px;
// 	top: -8px;
// 	background-color: #d3d3d3;
// 	padding: 2px;
// 	border-radius: 50%;
// }

// .globalStock .sub_attract .sub_mid.attract_sub .guide_box .clse::after {
// 	content: '';
// 	height: 14px;
// 	border-left: 1px solid #fff;
// 	position: absolute;
// 	transform: rotate(45deg);
// 	top: 5px;
// 	left: 12px;
// }

// .globalStock .sub_attract .sub_mid.attract_sub .guide_box .clse::before {
// 	content: '';
// 	height: 14px;
// 	border-left: 1px solid #fff;
// 	position: absolute;
// 	transform: rotate(-45deg);
// 	top: 5px;
// 	left: 12px;
// }

// .globalStock .sub_attract .sub_mid.attract_sub .guide_box.show {
// 	display: block;
// }

// .globalStock .sub_attract .sub_mid.attract_sub .guide_box.hide {
// 	display: none;
// }

// .globalStock .sub_attract .sub_mid.attract_sub .guide_box .title {
// 	font-weight: normal;
// 	color: #8380A0;
// 	line-height: 22px;
// 	font-size: 0.8rem;
// 	display: block;
// 	text-align: left;
// }

// .globalStock .sub_attract .sub_mid.attract_sub .guide_box ul {
// 	margin-top: 15px;
// 	margin-bottom: 20px;
// }

// .globalStock .sub_attract .sub_mid.attract_sub .guide_box ul li {
// 	color: #8380A0;
// 	margin-bottom: 5px;
// 	text-align: left;
// 	line-height: 22px;
// 	font-size: 0.8rem;
// 	vertical-align: top;
// 	font-weight: normal;
// }

// .globalStock .sub_attract .sub_mid.attract_sub .guide_box ul li strong {
// 	color: #8380A0;
// 	font-size: 0.8rem;
// 	font-weight: normal;
// }

// .globalStock .sub_attract .sub_mid.attract_sub .guide_box .txt {
// 	font-size: 12px;
// 	line-height: 1.42;
// 	color: #6a6a6a;
// 	text-align: left;
// 	margin-bottom: 13px;
// }

// .globalStock .sub_attract .sub_mid.attract_sub .guide_box .txt strong {
// 	font-size: 12px;
// 	line-height: 1.42;
// 	color: #6a6a6a;
// }

// .globalStock .sub_attract .sub_mid.attract_sub .guide_box li.list_txt {
// 	font-size: 12px;
// 	line-height: 1.42;
// 	text-align: left;
// 	color: #6a6a6a;
// 	padding-left: 10px;
// 	position: relative;
// 	word-break: break-all;
// 	word-wrap: break-word;
// }

// .globalStock .sub_attract .sub_mid.attract_sub .guide_box li.list_txt::before {
// 	content: '';
// 	width: 5px;
// 	height: 1px;
// 	position: absolute;
// 	left: 0;
// 	top: 6px;
// 	background-color: #6a6a6a;
// }

// .globalStock .sub_search .sub_mid.adequateArea .listWrap .mid .charm_num .guide_box {
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// 	transform: translate(-15%, 0%);
// 	box-shadow: 0px 0px 7px 2px #dfdfdf;
// 	border-radius: 8px;
// 	padding: 35px 15px 15px;
// 	background: #fff;
// 	width: 340px;
// 	box-sizing: border-box;
// 	z-index: 9998;
// 	display: none;
// }

// @media (min-width: 320px) and (max-width: 358px) {
// 	.globalStock .sub_search .sub_mid.adequateArea .listWrap .mid .charm_num .guide_box {
// 		width: 290px;
// 	}
// }

// .globalStock .sub_search .sub_mid.adequateArea .listWrap .mid .charm_num .guide_box .clse {
// 	display: inline-block;
// 	font-size: 0;
// 	width: 24px;
// 	height: 24px;
// 	box-sizing: border-box;
// 	position: absolute;
// 	right: -7px;
// 	top: -8px;
// 	background-color: #d3d3d3;
// 	padding: 2px;
// 	border-radius: 50%;
// }

// .globalStock .sub_search .sub_mid.adequateArea .listWrap .mid .charm_num .guide_box .clse::after {
// 	content: '';
// 	height: 14px;
// 	border-left: 1px solid #fff;
// 	position: absolute;
// 	transform: rotate(45deg);
// 	top: 5px;
// 	left: 12px;
// }

// .globalStock .sub_search .sub_mid.adequateArea .listWrap .mid .charm_num .guide_box .clse::before {
// 	content: '';
// 	height: 14px;
// 	border-left: 1px solid #fff;
// 	position: absolute;
// 	transform: rotate(-45deg);
// 	top: 5px;
// 	left: 12px;
// }

// .globalStock .sub_search .sub_mid.adequateArea .listWrap .mid .charm_num .guide_box.show {
// 	display: block;
// }

// .globalStock .sub_search .sub_mid.adequateArea .listWrap .mid .charm_num .guide_box.hide {
// 	display: none;
// }

// .globalStock .sub_search .sub_mid.adequateArea .listWrap .mid .charm_num .guide_box .title {
// 	font-weight: normal;
// 	color: #8380A0;
// 	line-height: 22px;
// 	font-size: 0.8rem;
// 	display: block;
// 	text-align: left;
// }

// .globalStock .sub_search .sub_mid.adequateArea .listWrap .mid .charm_num .guide_box ul {
// 	margin-top: 15px;
// 	margin-bottom: 20px;
// }

// .globalStock .sub_search .sub_mid.adequateArea .listWrap .mid .charm_num .guide_box ul li {
// 	color: #8380A0;
// 	margin-bottom: 5px;
// 	text-align: left;
// 	line-height: 22px;
// 	font-size: 0.8rem;
// 	vertical-align: top;
// 	font-weight: normal;
// }

// .globalStock .sub_search .sub_mid.adequateArea .listWrap .mid .charm_num .guide_box ul li strong {
// 	color: #8380A0;
// 	font-size: 0.8rem;
// 	font-weight: normal;
// }

// .globalStock .sub_search .sub_mid.adequateArea .listWrap .mid .charm_num .guide_box .txt {
// 	font-size: 12px;
// 	line-height: 1.42;
// 	color: #6a6a6a;
// 	text-align: left;
// 	margin-bottom: 13px;
// }

// .globalStock .sub_search .sub_mid.adequateArea .listWrap .mid .charm_num .guide_box .txt strong {
// 	font-size: 12px;
// 	line-height: 1.42;
// 	color: #6a6a6a;
// }

// .globalStock .sub_search .sub_mid.adequateArea .listWrap .mid .charm_num .guide_box li.list_txt {
// 	font-size: 12px;
// 	line-height: 1.42;
// 	text-align: left;
// 	color: #6a6a6a;
// 	padding-left: 10px;
// 	position: relative;
// 	word-break: break-all;
// 	word-wrap: break-word;
// }

// .globalStock .sub_search .sub_mid.adequateArea .listWrap .mid .charm_num .guide_box li.list_txt::before {
// 	content: '';
// 	width: 5px;
// 	height: 1px;
// 	position: absolute;
// 	left: 0;
// 	top: 6px;
// 	background-color: #6a6a6a;
// }

// .globalStock .sub_search .sub_mid.outline_box .box .guide_box {
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// 	transform: translate(-23%, -14%);
// 	box-shadow: 0px 0px 7px 2px #dfdfdf;
// 	border-radius: 8px;
// 	padding: 35px 15px 15px;
// 	background: #fff;
// 	width: 340px;
// 	box-sizing: border-box;
// 	z-index: 9998;
// 	display: none;
// }

// .globalStock .sub_search .sub_mid.outline_box .box .guide_box .clse {
// 	display: inline-block;
// 	font-size: 0;
// 	width: 24px;
// 	height: 24px;
// 	box-sizing: border-box;
// 	position: absolute;
// 	right: -7px;
// 	top: -8px;
// 	background-color: #d3d3d3;
// 	padding: 2px;
// 	border-radius: 50%;
// }

// .globalStock .sub_search .sub_mid.outline_box .box .guide_box .clse::after {
// 	content: '';
// 	height: 14px;
// 	border-left: 1px solid #fff;
// 	position: absolute;
// 	transform: rotate(45deg);
// 	top: 5px;
// 	left: 12px;
// }

// .globalStock .sub_search .sub_mid.outline_box .box .guide_box .clse::before {
// 	content: '';
// 	height: 14px;
// 	border-left: 1px solid #fff;
// 	position: absolute;
// 	transform: rotate(-45deg);
// 	top: 5px;
// 	left: 12px;
// }

// .globalStock .sub_search .sub_mid.outline_box .box .guide_box.show {
// 	display: block;
// }

// .globalStock .sub_search .sub_mid.outline_box .box .guide_box.hide {
// 	display: none;
// }

// .globalStock .sub_search .sub_mid.outline_box .box .guide_box .title {
// 	font-weight: normal;
// 	color: #8380A0;
// 	line-height: 22px;
// 	font-size: 0.8rem;
// 	display: block;
// 	text-align: left;
// }

// .globalStock .sub_search .sub_mid.outline_box .box .guide_box ul {
// 	margin-top: 15px;
// 	margin-bottom: 20px;
// }

// .globalStock .sub_search .sub_mid.outline_box .box .guide_box ul li {
// 	color: #8380A0;
// 	margin-bottom: 5px;
// 	text-align: left;
// 	line-height: 22px;
// 	font-size: 0.8rem;
// 	vertical-align: top;
// 	font-weight: normal;
// }

// .globalStock .sub_search .sub_mid.outline_box .box .guide_box ul li strong {
// 	color: #8380A0;
// 	font-size: 0.8rem;
// 	font-weight: normal;
// }

// .globalStock .sub_search .sub_mid.outline_box .box .guide_box .txt {
// 	font-size: 12px;
// 	line-height: 1.42;
// 	color: #6a6a6a;
// 	text-align: left;
// 	margin-bottom: 13px;
// }

// .globalStock .sub_search .sub_mid.outline_box .box .guide_box .txt strong {
// 	font-size: 12px;
// 	line-height: 1.42;
// 	color: #6a6a6a;
// }

// .globalStock .sub_search .sub_mid.outline_box .box .guide_box li.list_txt {
// 	font-size: 12px;
// 	line-height: 1.42;
// 	text-align: left;
// 	color: #6a6a6a;
// 	padding-left: 10px;
// 	position: relative;
// 	word-break: break-all;
// 	word-wrap: break-word;
// }

// .globalStock .sub_search .sub_mid.outline_box .box .guide_box li.list_txt::before {
// 	content: '';
// 	width: 5px;
// 	height: 1px;
// 	position: absolute;
// 	left: 0;
// 	top: 6px;
// 	background-color: #6a6a6a;
// }
// .globalStock .sub_search .sub_mid.outline_box .box .attention_box .guide_box {
// 	box-shadow: 0px 0px 7px 2px #dfdfdf;
// 	border-radius: 8px;
// 	position: absolute;
// 	right: 0;
// 	top: 26px;
// 	z-index: 80;
// 	padding: 35px 15px 15px;
// 	background: #fff;
// 	width: 340px;
// 	box-sizing: border-box;
// 	z-index: 9998;
// 	display: none;
// }

// @media (min-width:320px) and (max-width: 358px) {
// 	.globalStock .sub_search .sub_mid.outline_box .box .attention_box .guide_box {
// 		width: 300px;
// 	}
// }

// .globalStock .sub_search .sub_mid.outline_box .box .attention_box .guide_box .clse {
// 	display: inline-block;
// 	font-size: 0;
// 	width: 16px;
// 	height: 16px;
// 	position: absolute;
// 	right: 15px;
// 	top: 15px;
// 	background: url('/img/clse.png') no-repeat 0 0;
// 	background-size: 100% 100%;
// 	padding: 2px;
// }

// .globalStock .sub_search .sub_mid.outline_box .box .attention_box .guide_box.show {
// 	display: block;
// }

// .globalStock .sub_search .sub_mid.outline_box .box .attention_box .guide_box.hide {
// 	display: none;
// }

// .globalStock .sub_search .sub_mid.outline_box .box .attention_box .guide_box .title {
// 	font-weight: bold;
// 	display: block;
// 	color: #333;
// 	font-size: 1rem;
// 	line-height: 22px;
// 	text-align: left;
// }

// .globalStock .sub_search .sub_mid.outline_box .box .attention_box .guide_box ul {
// 	margin-top: 15px;
// 	margin-bottom: 20px;
// }

// .globalStock .sub_search .sub_mid.outline_box .box .attention_box .guide_box ul li {
// 	color: #8380A0;
// 	margin-bottom: 5px;
// 	text-align: left;
// 	line-height: 22px;
// 	font-size: 0.8rem;
// 	vertical-align: top;
// 	font-weight: normal;
// }

// .globalStock .sub_search .sub_mid.outline_box .box .attention_box .guide_box ul li strong {
// 	font-weight: bold;
// 	color: #444;
// 	vertical-align: middle;
// 	font-size: 0.9rem;
// }

// .globalStock .sub_search .sub_mid .adequate_stock .evaluation_data .guide_box {
// 	left: auto;
// 	right: -15px;
// }



// /* 320 지원 */
// @media (min-width:320px) and (max-width: 358px) {

// 	.globalStock .sub_attract .sub_mid.attract_sub .guide_box .title,
// 	.globalStock .sub_search .sub_mid.tabs_area .chart_area.diagnosis .chartData .charm .guide_box .title,
// 	.globalStock .sub_search .sub_mid.tabs_area .chart_area.diagnosis .chartData .charm .guide_box ul li,
// 	.globalStock .sub_search .sub_mid.competitors_table .guide_box ul li,
// 	.globalStock .sub_search .sub_mid.tabs_area .evaluation_data .guide_box ul li,
// 	.globalStock .sub_attract .sub_mid.attract_sub .guide_box ul li {
// 		line-height: 18px;
// 	}

// 	.globalStock .sub_attract .sub_mid.attract_sub .guide_box {
// 		width: 300px;
// 		padding: 26px 15px 0 15px;
// 		transform: translate(-15%, 0%);
// 	}

// 	.globalStock .sub_search .sub_mid.tabs_area .chart_area.diagnosis .chartData .charm .guide_box,
// 	.globalStock .sub_search .sub_mid.tabs_area .evaluation_data .guide_box {
// 		padding: 26px 15px 0 15px;
// 	}

// 	.globalStock .sub_search .sub_mid.competitors_table .guide_box ul {
// 		margin-top: 0;
// 		margin-bottom: 0;
// 	}

// 	.globalStock .sub_search .sub_mid.tabs_area .evaluation_data .guide_box ul {
// 		margin-top: 0;
// 		margin-bottom: 15px;
// 	}

// 	.globalStock .sub_search .sub_mid.tabs_area .chart_area.diagnosis .chartData .charm .guide_box {
// 		width: 300px
// 	}

// 	.globalStock .sub_search .sub_mid.tabs_area .evaluation_data .guide_box {
// 		width: 300px;
// 		right: -10px !important;
// 	}
	
// 	.globalStock .sub_search .sub_mid.competitors_table .guide_box {
// 		width: 300px;
// 		left: 10px;
// 	}
// }




// 모달

