@mixin filter_list {
    display: flex;
    align-items: center;
    gap: var(--Spacing-s-04, 8px);
    // padding: 0px 20px;
    margin-top: 32px;
                    
    .swiper-slide {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        // padding: 8px 0;
        &:last-child {
            margin-right: 32px !important;						
        }
        .filter_btn {

            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 4px 4px;						
            
            border-radius: var(--Radius-r-06, 32px);
            border: 1px solid var(--Border-primary-border, #E3E5E8);
            padding: 7px 16px;						
            box-sizing: border-box;

            color: var(--Font-default, #6B7684);
            font-family: var(--Body, Pretendard);
            font-size: var(--Size-md-15, 15px);
            font-style: normal;
            font-weight: var(--Weight-500, 500);
            line-height: var(--Line-height-xl-01, 24px); /* 160% */
            letter-spacing: var(--Tracking-md, -0.3px);
            &.active {
                border-radius: var(--Radius-r-06, 32px);
                background: var(--Background-primary-dark-background, #24282C);
                color: #FFF;							
                font-weight: var(--Weight-600, 600);	
                border-color: transparent;						
            }
            
        }
        
    }
}

@mixin filter_swiper {				
    padding: 0 20px;				
    box-sizing: border-box;

    &.swiper-container-initialized {
        visibility: visible;
    }

    .swiper-wrapper {
        transition-timing-function: linear;
    }

    .swiper-slide {
        display: block;
        width: auto;
    }

}

// 클릭 유도 툴팁
@mixin tooltip_content {
    pointer-events: none;
    user-select: none;

    position: absolute;    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 8px 8px;
    border-radius: 100px;
    background: #1AE5D6;
    max-width: 200px;
    z-index: 88;
    .tooltip_icon {
        position: absolute;
        right: 20px;
        top: -12px;
    }
    .tooltip_text {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .txt {
        margin: 0;
        padding: 0;
        width: 100%;
        color: var(--Font-primary-body, #24282C);
        text-align: left;
        font-family: var(--Body, Pretendard);
        font-size: var(--Size-xxs, 11px);
        font-style: normal;
        font-weight: var(--Weight-600, 600);
        line-height: var(--Line-height-xxs, 13px); /* 118.182% */
        letter-spacing: var(--Tracking-md, -0.3px);
    }
}
